.image-container {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}
.cursive {
    font-family: cursive;
    cursor: default;
}
.image-container img {
    max-width: 60%;
    height: auto;
    margin-right: 5px;
    margin-left: 5px
}
h1 {
    text-align: center;
    font-family: cursive;
    padding-bottom: 3%;
    cursor: default;
}
.island {
    position: absolute;
    bottom: auto;
    height: auto;
    padding-top: 4%;
    padding: 2%;
    width: 74%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
p {
    font-size: 20px;
    font-family: cursive;
    text-indent: 25px;
    cursor: default;
}
.download {
    position: absolute;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 16px;
    background-color: rgba(0, 200, 0, 0.7);
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 170, 0, 1);
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    left: 44%;
}
.download:hover {
    color: rgba(200, 200, 200, 1);
    border: 1px solid rgba(0, 230, 0, 1);
    box-shadow: none;
    background-color: rgba(0, 160, 0, 1);
}
.download:active {
    font-weight: 530;
    font-size: 15px;
}
.btton {
    position: relative;
    margin-bottom: 50px;
}
@media (max-width: 900px) {
    .btton {
        right: 3%;
    }
}
@media (max-width: 767px) {
    .island {
        width: 85%;
    }
    .btton {
        right: 6%;
    }
}
@media (max-width: 500px) {
    p {
        font-size: 18px;
    }
    .image-container img {
        max-width: 80%;
    }
    .btton {
        right: 9%;
    }
}
@media (max-width: 400px) {
    p {
        font-size: 15px;
    }
    .island {
        width: 92%;
    }
    .btton {
        right: 12%;
    }
}
@media (max-width: 300px) {
    .island {
        width: 95%;
    }
    .btton {
        right: 15%;
    }
}