{%extends 'base.html'%}
{%block title%}
    About me
{%endblock title%}
{%block head%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'aboutme.css' %}">
{%endblock head%}
{%block content%}
<div class="island">
    <h1>Who I Am?</h1>
    {% comment %} Selfie. {% endcomment %}
    <div class="img_me">
        <img position="relative" width="100%" height"100%" src="{% static 'me.png'%}" alt="Me">
    </div>
    {% comment %} Informations... {% endcomment %}
    <p>Let me introduce myself - I'm Kovács Dávid, a dedicated programmer passionate about the evolving landscape of software development. My recent journey has led me towards the intricacies of backend development, particularly focusing on Python, while continuously refining my expertise in frontend technologies. I thrive on overcoming challenges and innovating in this dynamic field.</p>
    <p> Python has been the cornerstone of my programming journey, enabling me to craft solutions and navigate the intricacies of the Django framework seamlessly. Operating comfortably at an above intermediate level in Python, my portfolio reflects my steadfast commitment to leveraging the language's power, especially in the backend sphere. Additionally, my active contribution to the Python community involves identifying and reporting <span id="toggle-button" style="text-decoration: underline; cursor: pointer; color: rgb(10, 160, 197);">bugs</span>.</p>
    {% comment %} Div with bug report links. {% endcomment %}
    <div class="toggle-box" id="content">
        <ul>
            <li><a href="https://github.com/itayb1/solana-pay-py/issues/5">Solana Pay Python SDK.</a></li>
            <li><a href="https://github.com/metaplex-foundation/python-api/issues/47">Metaplex Python Api.</a></li>
        </ul>
    </div>
    <p>While my recent focus has leaned towards backend prowess, my experience in frontend development underscores my versatility. Proficient in both domains, I'm primed to adapt and contribute effectively to projects that demand a fusion of frontend finesse and backend innovation.</p>
    <p>Keen on embracing emerging technologies, <a href="{%url 'web3shop'%}">I'm venturing into the complexities of web3</a>, seeking opportunities to integrate frontend and backend expertise in crafting cutting-edge solutions.</p>
    {% comment %} Login is required. {% endcomment %}
    {% if user.is_authenticated %}
        <p>Don't Hesitate! <a href="{%url 'contact'%}">Contact me</a>!</p>
    {%else%}
        <p>Don't Hesitate! <a href="{%url 'login'%}">Log in</a> to contact me!</p>
    {%endif%}
    <br>
    {% comment %} My GitHub profile. {% endcomment %}
    <div class="contain">
        <div>
            <a href="https://github.com/davidkakov111">
                <img class="box1" src="{%static 'Github.png'%}" alt="Github logo">
            </a>
        </div>
        <div class="click_img">
            <img src="{%static 'click.png'%}" alt="Click here!" width="100%">
        </div>
    <div>
</div>
<script>
    {% comment %} Java Script for the tooggle button. {% endcomment %}
    const toggleButton = document.getElementById('toggle-button');
    const content = document.getElementById('content');
    let hideTimeout;
    toggleButton.addEventListener('click', function() {
        content.style.display = 'block';
    });
    toggleButton.addEventListener('mouseenter', function() {
        content.style.display = 'block';
    });
    document.addEventListener('click', function(event) {
        if (event.target !== toggleButton) {
            content.style.display = 'none';
        }
    });
</script>
{%endblock content%}
