{%extends 'base.html'%}
{%block title%}
    About me
{%endblock title%}
{%block content%}
    <p>My name is Dávid Kovács, and I live in Romania, specifically in Covasna County, within the village of Torja. I was born on October 9, 2004.
        Programming and new technologies have always piqued my interest. I created this page to authentically showcase my current programming skills. Among programming languages, I am most proficient in Python, at an intermediate level. I will also present an application on the website that I created. It's true that when I made this program, my programming knowledge was about 25% less than it is now, but I still believe it's worth showcasing this <a href="{%url 'game'%}">game</a>.
        Currently, I am actively learning HTML website development, where I leverage my Python knowledge using the Django framework, and I carefully craft the user interfaces with CSS. I am open to exploring new technologies and languages as needed to meet the demands of dynamic and ever-changing software development. I successfully passed the high school graduation exam, but I don't have a programming degree. However, I do possess a certain level of programming knowledge and skills, which I aim to further enhance for efficient work.</p>
{%endblock content%}

