{%extends 'base.html'%}
{%block title%}
    About me
{%endblock title%}
{%block head%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'aboutme.css' %}">
{%endblock head%}
{%block content%}
<div class="island">
    <h1>Who I Am?</h1>
    {%load static%}
    {% comment %} Selfie. :) {% endcomment %}
    <div>
        <img class="img_me" src="{% static 'me.png'%}" alt="Me">
    </div>
    {% comment %} Informations... {% endcomment %}
    <p>Let me introduce myself—I'm an avid programming enthusiast, specializing in frontend web development. With a fervent dedication to staying on the cutting edge of development trends, I thrive on tackling challenges and finding innovative solutions. My ultimate goal? To craft mesmerizing digital experiences that leave users in awe. My unwavering commitment to both quality and efficiency sets the stage for my contributions.</p>
    <p>While I've always had a keen interest in programming and emerging technologies, I've embarked on a journey to prove my mettle. This page serves as a canvas to showcase my current programming prowess and knowledge in its rawest form. Amongst the array of programming languages, Python stands as my forte, and I operate at an intermediate level of proficiency. In addition, you'll find a <a href="{%url 'game'%}">game</a> on this website, a testament to my continuous growth.
    At present, I'm fully immersed in the world of HTML website development. Leveraging my Python expertise with the Django framework and meticulously crafting user interfaces with CSS are my daily pursuits. I keep my sails open to explore new technologies and languages, ready to adapt to the ever-evolving landscape of the software development realm.</p>
    {% comment %} Login is required. {% endcomment %}
    {% if user.is_authenticated %}
        <p>Don't Hesitate! Contact me <a href="{%url 'contact'%}">here</a>!</p>
    {%endif%}
    {% comment %} Without login. {% endcomment %}
    {% if not user.is_authenticated %}
        <p>Don't Hesitate! Log in to contact me <a href="{%url 'login'%}">here</a>!</p>
    {%endif%}
    <br>
    {% comment %} Go to my GitHub profile. {% endcomment %}
    <div class="contain">
        <div>
            <a href="https://github.com/davidkakov111">
                <img class="box1" src="{%static 'Github.png'%}" alt="Github logo">
            </a>
        </div>
        <div class="click_img">
            <img src="{%static 'click.png'%}" alt="Click here!" width="100%">
        </div>
    <div>
</div>
{%endblock content%}
