{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}
    Contact page
{%endblock title%}
{%block head%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
{%endblock head%}
{%block content%}
<div class="island">
    <p>Write me an email!</p>
    <form action="" method="post">
        {% csrf_token %}
        <div class="main-content">
            {{form|crispy}}
        </div>
        <div class="center">
            <input type="submit" class="btn btn-primary" value="Send">
        </div>
    </form>
</div>
{%endblock content%}
