{%extends 'base.html'%}
{%block title%}Home{%endblock title%}
{% comment %} CSS {% endcomment %}
{%block style%}
  .container {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: large;
    cursor: default;
  }
{%endblock style%}
{% block content %}
{% comment %} Background video. {% endcomment %}
<div class="fullscreen-bg">
  <video src="../static/background.mp4" class="fullscreen" loop muted autoplay poster="../static/poster.jpg"></video>
</div>
{% comment %} Text. {% endcomment %}
<div class="container">
  <h1>HELLO & WELCOME</h1>
  <p>Are you ready to explore the <b>first</b> major website I've created?<br>
  Here you can discover the results of my coding!<br>
  Dive in now!</p>
</div>
{% endblock content %}
