<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid passwords</title>
    {% comment %} CSS {% endcomment %}
    <style>
        h1 {
            text-align: center;
            margin-top: 3%;
        }
        img {
            max-height: 60%;
            display: block;
            margin: 0 auto;
        }
        body {
            background-color: rgba(255, 0, 0, 0.3);
        }
        @media (max-width: 350px) {
            img {
                max-height: 400px;
            }
        }
    </style>
</head>
<body>
    {% comment %} Text. {% endcomment %}
    <h1>The passwords do not match. <a href="{%url 'signup'%}">Sign Up</a> again!</h1>
    {%load static%}
    {% comment %} Image. {% endcomment %}
    <div>
        <img src="{%static 'stop.png'%}" alt="Again!">
    </div>
</body>
</html>