{%extends "base.html"%}
{%block title%}
Log in
{%endblock title%}
{%block head%}              
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{%endblock head%}
{%block content%}
<div class="island">
    <div class="content">
        <h1><b>Log in!</b></h1>
        <br>
        <form method="post">
            {% csrf_token %}
            <label for="email">Email address</label>
            <input type="email" placeholder="Enter your email" id="email" name="email" required><br>
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password" id="password" name="password" required>
            <input class="btn btn-success mb-4 mt-4" type="submit" id = "submit" name="submit" value="Log in →">
        </form>
    </div>
    <div class="boxx">
        <div class="hrleft">
            <hr>
        </div>
        <div class="or">
            <p>Or Log In Using</p>
        </div>
        <div class="hrright">
            <hr>
        </div>
    </div>
    <div class="containergitlog">
        <a href="{% url 'social:begin' 'github' %}"><img class="gitlog" src="{% static 'Github.png'%}" alt="Log in with GitHUb!"></a>
    </div>
    <div class="containergooglelog">
        <a href="#"><img class="googlelog" src="{% static 'googlelogo.png'%}" alt="Log in with Google!"></a>
    </div>
    <br>
</div>
{%endblock content%}
