{%extends "base.html"%}
{%block title%}
Sign up
{%endblock title%}
{%block style%}
.island {
    position: absolute;
    bottom: 14%;
    left: 37%;
    right: 37%;
    text-align: center;
    max-width: 25%;
    max-height: 67%;
    background-color: rgba(255, 255, 0, 0.5);
    padding: 2%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.content {
    text-align: center;
    display: inline-block;
}
.content label {
    display: block;
    text-align: left;
}
.content input {
    display: block;
    margin: 0 auto;
}
body {
    background-color: gray;
}
input {
    background-color: rgba(205, 205, 140);
}
{%endblock style%}
{%block content%}
<div class="island">
    <div class="content">
        <h1><b>Sign up!</b></h1>
        <form method="post">
            {% csrf_token %}
            <br>
            <label for="email">Email address</label>
            <input type="email" placeholder="Enter your email" id="email" name="email" required><br>
            <label for="password">Set password</label>
            <input type="password" placeholder="Enter password" id="password" name="password" required><br>
            <label for="pasword">Confirm password</label>
            <input type="password" placeholder="Password again" id="pasword" name="pasword" required><br>
            <input class="btn btn-success mb-4 mt-4" type="submit" id = "submit" name="submit" value="Sign up →">
        </form>
    </div>
</div>
{%endblock content%}