.island {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    text-align: center;
    max-width: 300px;
    max-height: 440px;
    margin-bottom: 5%;
    background-color: rgb(179, 176, 13);
    padding: 2%;
    padding-bottom: 1%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0);
}
.content {
    text-align: center;
    display: inline-block;
}
.content label {
    display: block;
    text-align: left;
}
.content input {
    display: block;
    margin: 0 auto;
}
.boxx {
    position: relative;
    height: 30px;
}
.hrleft {
    position: absolute;
    width: 25%;
    left: 0%;
}
h1 {
    cursor: default;
}
p {
    cursor: default;
}
.or {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
}
.hrright {
    position: absolute;
    width: 25%;
    right: 0%;
}
.containergitlog {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    left: -85px;
}
.gitlog {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -15%;
}
.containergooglelog {
    position: relative;
    width: 57px;
    height: 57px;
    margin: 0 auto;
    right: -25px;
}
.googlelog {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 85%;
}
#email {
    background-color: rgba(205, 205, 140);
}
#password {
    background-color: rgba(205, 205, 140);
}
#pasword {
    background-color: rgba(205, 205, 140);
}
@media (max-width: 767px) {
    .island {
        padding-top: 4%;
    }
}
@media (max-width: 400px) {
    .island {
        padding-top: 6%;
    }
}
@media (max-width: 350px) {
    .island {
        max-width: 250px;
    }
    .or {
        font-size: smaller;
        top: 16%;
    }
}
@media (max-width: 300px) {
    .island {
        padding-top: 8%;
        max-width: 220px;
    }
}