.island {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 300px;
    height: 520px;
    margin-bottom: 4%;
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(179, 176, 13);
    box-shadow: 0px 0px 20px rgba(0, 0, 0);
}
h1 {
    cursor: default;
    font-size: 40px;
}
p {
    cursor: default;
}
.content {
    text-align: center;
    display: inline-block;
}
.content label {
    display: block;
    text-align: left;
}
.content input {
    display: block;
    margin: 0 auto;
}
.boxx {
    position: relative;
    height: 30px;
    width: 100%;
}
.hrleft {
    position: absolute;
    width: 25%;
    left: 0%;
}
.or {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
}
.hrright {
    position: absolute;
    width: 25%;
    right: 0%;
}
.container {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 3%;
}
.containergit {
    left: 15%;
}
.containergoogle {
    right: 15%;
}
.container-content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}
#email {
    background-color: rgba(205, 205, 140);
}
#password {
    background-color: rgba(205, 205, 140);
}
#pasword {
    background-color: rgba(205, 205, 140);
}
@media (min-width: 1400px) {
    .hrright {
        right: -7%;
    }
    .hrleft {
        left: -7%;
    }
    .or {
        font-size: 14px;
    }
}
@media (max-width: 700px) {
    .island {
        padding-top: 3%;
    }
}
@media (max-width: 350px) {
    .island {
        width: 250px;
    }
    .or {
        font-size: smaller;
        top: 16%;
    }
}
@media (max-width: 300px) {
    .island {
        padding-top: 5%;
        width: 220px;
    }
}
